<section>
  <.link href={~p"/"}>Welcome Page!</.link>
  <.link href={~p"/hello/bob"}>Say hello bob</.link>
  <p>Locale: <%= @locale %></p>
  <h2 class="bg-blue-800 text-white rounded-lg p-2">Hello World, from Phoenix!</h2>
</section>
