<section>
  <p>Locale: <%= @locale %></p>
  <h2 class="bg-blue-800 text-white rounded-lg p-2">
    Hello <%= @messenger %>, from Phoenix!
  </h2>
  <h2>
  here is the receiver: <%= @receiver %>
  </h2>
</section>
